{:min-bb-version "0.4.0"
 :paths ["conf"
         "script"]
 :tasks {:enter (when (System/getenv "VERBOSE")
                  (println "Entering:" (:name (current-task))))
         :leave (when (System/getenv "VERBOSE")
                  (println "Leaving:" (:name (current-task))))
         ;; tasks
         gen-clojars-jar-list
         {:doc "Make Clojars jars list"
          :task gen-clojars-jar-list/-main}
         batch-fetch-clojars-jars
         {:doc "Batch fetch some Clojars jars"
          :depends [gen-clojars-jar-list]
          :task batch-fetch-clojars-jars/-main}
         extract-clojars-jars
         {:doc "Extract content from Clojars jars"
          :task extract-clojars-jars/-main}
         }}
